/* .container {
  text-align: center;
  margin: 0 auto;
  background-color: rgb(107, 183, 183);
  padding: 10px 20px;
} */
.formSection {
  display: flex;
  justify-content: space-around;
}

.form {
  display: inline-flex;
  gap: 5px;
  flex-wrap: wrap;
}

.inputField,
.button {
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 2px 5px rgb(100, 100, 100);
}

/* .inputField:not(:last-child) {
  margin-left: 10px;
} */

.button {
  background-color: aliceblue;
  cursor: pointer;
}
